* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --swiper-navigation-color: rgb(238, 255, 0);
  --swiper-pagination-color: rgb(59, 59, 165);
}

body {
  font-family: 'Open Sans', sans-serif;
}

footer {
  background: #090815;
  padding-bottom: 0.1px;
}
